body {
	background:#111;
}

nav {
	background:#111;
	font-family:'Open Sans';
	font-weight:500;
	padding:20px;
	padding-right:30px;
	text-align:right;
	a {
		color:#fff;
		text-decoration:none;
		text-transform:uppercase;
		font-size:.8em;
		letter-spacing: 2px;
		margin: 0 10px 0 10px;


	}
}


header {
	background:gray;
	height:70vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	h1 {
		text-align:center;
		margin: 0;
		font-family:'Playfair Display';
		color:#fff;
		text-shadow:0 0 10px rgba(0, 0, 0, .6);
		font-size:3em;
		letter-spacing:2px;
	}
}

main {
	max-width:1200px;
	background:#111;
	padding:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	margin:0 auto;
	h2 {
		font-family:'Playfair Display';
		color:#fff;
		margin:0;

	}

}

.proj-cont {
	width:300px;
	height:200px;
	background:gray;
	margin:15px;
	border: 10px solid pink;

	.proj-name {
		width:100%;
		height:100%;
		background:rgba(0,0,0, .5);
		opacity:0;
		text-align: center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		transition: .5s ease;

		a {
			font-family:'Open Sans';
			color:#fff;
			font-size:2em;
			font-weight:300;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform:uppercase;
			text-shadow:0 0 5px rgba(0, 0, 0, .4);
		
		}
	}

	.proj-name:hover{
		opacity:1;
		transition: .5s ease;

	}
}

@media only screen 
  and (max-width:550px) {
  	.proj-cont .proj-name {
  		opacity:1;
  	}

  	nav {
		text-align:center;
		display:flex;
		justify-content:space-evenly;
  	}
  }